@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black; /* Apply black background */
  color: white; /* Set text color to white for contrast */
  @apply font-sans;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
